<legend>
            <h3>Skills</h3>
            </legend>
            <div class="col-xs-1">
              <span class="label label-success pull-left">SPSS</span>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="progress">
                  <div class="progress-bar progress-bar-success 
                     progress-bar-striped active" 
                     role="progressbar" aria-valuenow="45" aria-valuemin="0" 
                     aria-valuemax="100" style="width: 85%">
                     <span class="sr-only">45% Complete</span>
                  </div> <!--progress-bar-->
                </div><!--progress -->
            </div><!--col-xs-10 -->

            <div class="col-xs-1">
              <span class="label label-success pull-left">HTML5</span>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="progress">
                  <div class="progress-bar progress-bar-success 
                     progress-bar-striped active" 
                     role="progressbar" aria-valuenow="45" aria-valuemin="0" 
                     aria-valuemax="100" style="width: 80%">
                     <span class="sr-only">80% Complete</span>
                  </div> <!--progress-bar-->
                </div><!--progress -->
            </div><!--col-xs-10 -->
            
            <div class="col-xs-1">
              <span class="label label-success pull-left">Rails</span>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="progress">
                  <div class="progress-bar progress-bar-success 
                     progress-bar-striped active" 
                     role="progressbar" aria-valuenow="45" aria-valuemin="0" 
                     aria-valuemax="100" style="width: 70%">
                     <span class="sr-only">80% Complete</span>
                  </div> <!--progress-bar-->
                </div><!--progress -->
            </div><!--col-xs-10 -->
            
            <div class="col-xs-1">
              <span class="label label-success pull-left">Ruby</span>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="progress">
                  <div class="progress-bar progress-bar-success 
                     progress-bar-striped active" 
                     role="progressbar" aria-valuenow="45" aria-valuemin="0" 
                     aria-valuemax="100" style="width: 60%">
                     <span class="sr-only">80% Complete</span>
                  </div> <!--progress-bar-->
                </div><!--progress -->
            </div><!--col-xs-10 -->
            
            <div class="col-xs-1" style="padding-top: 1px">
              <span class="label label-success pull-left">Javascript</span>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="progress">
                  <div class="progress-bar progress-bar-success 
                     progress-bar-striped active" 
                     role="progressbar" aria-valuenow="45" aria-valuemin="0" 
                     aria-valuemax="100" style="width: 55%">
                     <span class="sr-only">80% Complete</span>
                  </div> <!--progress-bar-->
                </div><!--progress -->
            </div><!--col-xs-10 -->
            
            <div class="col-xs-1">
              <span class="label label-warning">Java</span>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="progress">
                  <div class="progress-bar progress-bar-warning 
                     progress-bar-striped active" 
                     role="progressbar" aria-valuenow="45" aria-valuemin="0" 
                     aria-valuemax="100" style="width: 50%">
                     <span class="sr-only">80% Complete</span>
                  </div> <!--progress-bar-->
                </div><!--progress -->
            </div><!--col-xs-10 -->
            
            <div class="col-xs-1">
              <span class="label label-warning">Python</span>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="progress">
                  <div class="progress-bar progress-bar-warning 
                     progress-bar-striped active" 
                     role="progressbar" aria-valuenow="45" aria-valuemin="0" 
                     aria-valuemax="100" style="width: 50%">
                     <span class="sr-only">80% Complete</span>
                  </div> <!--progress-bar-->
                </div><!--progress -->
            </div><!--col-xs-10 -->
            
            <div class="col-xs-1">
              <span class="label label-warning">CSS</span>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="progress">
                  <div class="progress-bar progress-bar-warning 
                     progress-bar-striped active" 
                     role="progressbar" aria-valuenow="45" aria-valuemin="0" 
                     aria-valuemax="100" style="width: 45%">
                     <span class="sr-only">80% Complete</span>
                  </div> <!--progress-bar-->
                </div><!--progress -->
            </div><!--col-xs-10 -->
            
            <div class="col-xs-1">
              <span class="label label-danger">SQL</span>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="progress">
                  <div class="progress-bar progress-bar-danger 
                     progress-bar-striped active" 
                     role="progressbar" aria-valuenow="45" aria-valuemin="0" 
                     aria-valuemax="100" style="width: 20%">
                     <span class="sr-only">80% Complete</span>
                  </div> <!--progress-bar-->
                </div><!--progress -->
            </div><!--col-xs-10 -->
            
            <div class="col-xs-1">
              <span class="label label-danger">PHP</span>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="progress">
                  <div class="progress-bar progress-bar-danger 
                     progress-bar-striped active" 
                     role="progressbar" aria-valuenow="45" aria-valuemin="0" 
                     aria-valuemax="100" style="width: 15%">
                     <span class="sr-only">80% Complete</span>
                  </div> <!--progress-bar-->
                </div><!--progress -->
            </div><!--col-xs-10 -->
            