<div class="row cv_panel borders padding">
    <div class="center">
      <legend>Education</legend>
      <div class="inline pull-left" >
        <strong>2001-2005</strong>
      </div>
      <div class="inline centered">
        <strong>&nbsp;Austin College</strong>
      </div>
 
    
      <div class="inline pull-right" >
        <strong>Sherman, TX</strong>
      </div>
      <div class="pull-left" style="clear:both">
        <ul>
          <li>B.A. Computer Science</li>
        </ul>
        </div>
        </div>
  <br>
    <div class="center">
        <br>
    <div class="inline pull-left" >
    <strong>2005-2011</strong>
  </div>
  <div class="inline center-block">
    <strong> &nbsp;&nbsp;&nbsp; Sam Houston State University</strong>
  </div>
 
    
  <div class="inline pull-right" >
    <strong>Huntsville, TX</strong>
  </div>
    <div class="pull-left" style="clear:both">
      <ul>
        <li>B.A. Biology, Psychology Minor: Chemistry</li>
      </ul>
    </div>
  </div>
  
</div>