<div class="row cv_panel borders padding">
    <legend class="center">Work Experience</legend>
    <strong>Programming & Data Analysis</strong>
    
    <h5>2014: Consulting - Ruby on Rails</h5>
    <ul>
        <li>Developed a personal web page</li>
        <li>Full stack development</li>
        <li>Implemented security countermeasures to prevent: CSRF, XSS, & SQL Injection</li>
        <li>Gained experience using: RoR, HTML5, Javascript, CSS, Jquery, & PostgreSQL </li>
        <li>Utilized Test Driven and Behavior Driven Development</li>
    </ul>
    
    <h5>2014: Consulting - SST Investments</h5>
    <ul>
        <li>Designed web crawler in Python using ScraPY</li>
        <li>Collected pricing data for multivariate regression analysis</li>
    </ul>
    
    <h5>2014: SHSU Social Psychology Research Assistant</h5>
    <ul>
        <li>Designed an application to parse output from an ISCAN eye-tracking instrument</li>
        <li>Performed advanced statistical analyses to recognize fluctuations in output variance</li>
        <li>Initial application designed in Excel, later translated into Python</li>
    </ul>
    
    <h5>2010-2011: SHSU Social Psychology Research Assistant</h5>
    <ul>
        <li>Led participants through lab-based computerized procedures</li>
        <li>Study investigated attention to alternatives in close relationships</li>
        <li>Broke ground on initial Excel application for eye-tracking instrumentation.</li>
    </ul>
    
    <h5>2008: Consulting: Web 2.0 Design</h5>
    <ul>
        <li>Developed a Wordpress Blog to market an e-book</li>
        <li>Integrated shopping cart and payment functionality</li>
        <li>Used Adobe Dreamweaver, CSS, HTML, Javascript, and Wordpress modules</li>
    </ul>
    
    <h5>2005: Austin College - Web Wizardry</h5>
    <ul>
        <li>Designed an application for the Austin College Chemistry Department</li>
        <li>Developed forms for calculating physical chemistry reaction rates</li>
        <li>Gained experience in HTML, CSS, PHP, and Javascript</li>
    </ul>
    
    <h5>2002: Austin College - Extreme Programming</h5>
    <ul>
        <li>Developed a registration application for Austin College</li>
        <li>Utilized Extreme Programming, a new paradigm in test driven development</li>
        <li>Designed using Java in a Unix environment</li>
    </ul>
    
    <strong>Teaching</strong>
    
    <h5>2012-2014: SHSU - Introduction to Research Methods Lab</h5>
    <ul>
        <li>Designed research experiments and directed students through the literature review</li>
        <li>Performed SPSS data analysis and interpretation of results</li>
        <li>Guided students through the writing of an academic research article.</li>
        <li>Evaluated student articles based on content, APA Style, and strength of arguments</li>
    </ul>
    
    </div>