<h1> Hi!</h1>
<p> I'll tell you a little about myself.</p>
<p> Outside of programming and analyzing data I have several hobbies.</p>
<p> I enjoy watching youtube entertainers such as 
  <%= link_to "HuskyStarcraft", "http://www.youtube.com/user/HuskyStarcraft" %>
    and 
  <%= link_to "Yogscast", "http://www.youtube.com/user/BlueXephos" %>
  </p>
<p> Sips and Hat Films are my favorite yogscast members, though Sjin, Simon
    and Lewis are pretty awesome, as well.</p>
<p> I play the piano from time to time. I used to play for a religious organization
    but have since retired. I prefer classical and game pieces.</p>
<p> I love a range of music including Classic Rock, Classical music, Cool Jazz, 
      Pop, Rap, and (when I'm working out) Techno.
</p>
<p> When I have time I enjoy RPGs and Strategy games. Currently I am playing Civ 5,
    Civ Beyond, and a few others. Feel free to friend me on
    <%= link_to( "Steam", 'http://steamcommunity.com/id/cfelder' ) %>.
</p>
    
