<h1> Hi!</h1>

<p> Assuming you came here to learn more about who I am, let me take a moment to
share a few things with you.</p>

<p> <strong>I analyze data, I program, and I learn</strong>. Every day. In some capacity I've always
tried to learn something every day. However, when I read an AMA by
Neil deGrasse Tyson, he really drove this idea home.
</p>
<p><i>"I am driven by two main philosophies, know more today about the
world than I knew yesterday. And lessen the suffering of others."</i>
<strong>-Neil deGrass Tyson</strong>
</p>
<p>
    Beautiful and succinct. A variation of the second philosophy, I believe
    <strong>"People matter."</strong> They do. In the words of Dr. Miller in his opening lecture
    on advanced statistics, "People are complex." They have goals, ambitions, and aspirations.
   Life is fleeting, so  I give others the benefit of the doubt, and try to make the most of
    my time with them.
</p>

<p> Personal philosophies aside, I enjoy several hobbies.</p>
<p> I love the concept of artificial intelligence and machine learning. When I
    am not analyzing data or writing code, I am most likely reading about AI.
</p>
<p> I play the piano from time to time. I used to play for a campus ministry
    but have since retired. I prefer playing classical and game pieces.</p>
<p> I love a range of music including Classic Rock, Classical music, Cool Jazz, 
      Pop, Rap, and (when I'm working out) Techno.
</p>
<p> When I have time I enjoy RPGs and Strategy games. Blizzard is by far my
    favorite developer, and I have been an avid fan since Warcraft II. 
    Currently, I am playing Hearthstone, Civ 5, Civ Beyond, 
    and a few others. Feel free to friend me on
    <%= link_to( "Steam", 'http://steamcommunity.com/id/cfelder' ) %>
    or Battle.net using cfelder023@gmail.com.
</p>

<p> I also enjoy watching youtube entertainers such as 
  <%= link_to "HuskyStarcraft", "http://www.youtube.com/user/HuskyStarcraft" %>
    and 
  <%= link_to "Yogscast", "http://www.youtube.com/user/BlueXephos" %>
  </p>
<p> Without a doubt, Sips and Hat Films are my favorite yogscast members,
    though Sjin, Simon and Lewis are pretty awesome, as well.</p>

    
