<div class="container" style="background-color: green">
    <div class="col-xs-6">
        <div class="row">
            <h2> Christopher David Felder</h2>
        </div>
        <div class="row">
            
        </div>
    </div>
    
    <div class="col-xs-6">
        
    </div>
</div>
