<div class= "container" >
    <div class="jumbotron center">
  <h1>Help!</h1>
  <p>It's going to go big!</p>
  <%= link_to 'Sips & Sjin', "http://www.youtube.com/watch?v=zy7Fyu3J1ho",
    class: "btn btn-danger btn-lg" %>
</div>
</div>