<div class= "container" >
    <div class="jumbotron center">
  <h1>Help!</h1>
  <p>It's dangerous to go alone. Take this.</p>
  <%= link_to 'Ruby on Rails API', "http://api.rubyonrails.org/",
    class: "btn btn-danger btn-lg" %>
</div>
</div>