<div class="center jumbotron">
  <h1>Welcome to ChrisFelder.net!</h1>

  <h2>
  This is my virtual playground on the web. Feel free to explore the site!
  </h2>

  <%= link_to "Science!", experiments_path , class: "btn btn-lg btn-primary" %>
</div>