<div class="container" >
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail padding">
      <%= link_to image_tag("eye-tracking.jpg", size: '256' ), eyetracking_path %>
      <div class="caption">
        <h3>Eye-tracking Study</h3>
        <p>Utilized Excel, Python, and Ruby to analyze eye-tracking output.</p>
      </div>
    </div>
  </div>
</div>
</div>
