      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            Largest palindrome product
          </a>
        </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
            <p>
               A palindromic number reads the same both ways. The largest 
               palindrome made from the product of two 2-digit numbers is 
               9009 = 91 × 99.
            </p>
            
            <p>Find the largest palindrome made from the product of two 3-digit numbers.</p>
            <p><%= palindrome(999,999) %></p></p>
          </div>
        </div>
      </div>