      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseFive">
            Sum square difference
          </a>
        </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="panel-body">
            <p>The sum of the squares of the first ten natural numbers is,</p>

            <p class = "center">12 + 22 + ... + 102 = 385</p>
            <p>The square of the sum of the first ten natural numbers is,</p>

             <p class = "center">(1 + 2 + ... + 10)2 = 552 = 3025</p>
             <p>
                 Hence the difference between the sum of the squares of the 
                 first ten natural numbers and the square of the sum is 
                 3025 − 385 = 2640.
             </p>
             <p>
                 Find the difference between the sum of the squares 
                 of the first one hundred natural numbers and the 
                 square of the sum.
              </p>
            <p><%= more_markdown(render 'experiments/problems/problem6.txt') %></p>
            <p>
                If you are familiar with statistics, this is a measure of variance.
                This exercise was rather straight-forward.
            </p>
          </div>
        </div>
      </div>