      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTen">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
             Summation of primes
          </a>
        </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
          <div class="panel-body">
                <p>The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17. </p>

                <p>Find the sum of all the primes below two million. </p>
            <p><%= more_markdown(render 'experiments/problems/problem10.txt') %></p>
            
          </div>
        </div>
      </div>