      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            Smallest multiple
          </a>
        </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
            <p>
                2520 is the smallest number that can be divided by each of 
                the numbers from 1 to 10 without any remainder.
            </p>
            <p>
                What is the smallest positive number that is evenly divisible 
                by all of the numbers from 1 to 20?
            </p>
            <p><%= dat_markdown(render 'test.txt') %></p>
            
          </div>
        </div>
      </div>