<h2>What is an object?</h2>
<p>
    Objects are instances of classes. They contain attributes, behaviors, and
    identities.
</p>

<h2>What is a class?</h2>
<p>
    Classes describe all the attributes of an object. They represent a blueprint
    or template of an object that describes the properties, states, and behaviors
    of the object.
</p>