<div class="container-fluid">
    <h1> Fun with Forms</h1>
    <div class="row" >
        <p>
            This page contains several example forms to improve my
            understanding of Ruby on Rails' form helpers.
        </p>
    </div>
    <div class="row center">
        <div class="col-xs-5 col-xs-offset-4">
           <%= render 'form' %>
         </div>
    </div>
    <div class="row">
        <br>
        <p> 
          I recently implemented a nested form that you can find from your user
          interface.
        </p>

    </div>
</div>



