<div class="container">
  <%= render 'board', counter: @counter %>
</div>

<%= form_for @experiment  do |f| %>

            <%= f.hidden_field :choice, :value => "",
              id: "hidden" %>

            <%= f.submit "It's go time!", class: "btn btn-primary" %>
<% end %>

